@font-face {
    font-family: "yekan";
    src: url("KUNSTLER.TTF");
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.transition{
    height: 630px;
    width: 350;
    text-align: center;
    background-color: gray;
    margin-bottom: 5px;
    background-image: url(Food.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
}
 .transition .navbar{
    list-style-type: none;
    height: 80px;
    width: 600px;
    margin-left: 640px;
    line-height: 0ch;
    backdrop-filter: blur(50px);
    color: white;
    display: block;
    transform: translateY(20px);
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;

}
.transition .navbar .itembar1{
    display: inline-block;
    padding: 30px 20px;
    font-size: 20px;
    transform: translateY(10px);
    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.transition .navbar .itembar2{
    display: inline-block;
    padding: 30px 20px;
    font-size: 20px;
    transform: translateY(10px);
    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.transition .navbar .itembar3{
    display: inline-block;
    padding: 30px 20px;
    font-size: 20px;
    transform: translateY(10px);
    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.transition .navbar .itembar4{
    display: inline-block;
    padding: 30px 20px;
    font-size: 20px;
    transform: translateY(10px);
    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.transition .navbar .itembar1:hover{
   color: greenyellow;
   border-top-left-radius: 20px;
}
.transition .navbar .itembar2:hover{
   color: greenyellow;
     border-top-left-radius: 20px;
}
.transition .navbar .itembar3:hover{
   color: greenyellow;
     border-top-left-radius: 20px;
}
.transition .navbar .itembar4:hover{
   color: greenyellow; 
    border-top-left-radius: 20px;
}

h1{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: greenyellow;
    transform: translateY(80px);
    font-size: 60px;
}
.w{
    color: red;
}
.w1{
    color: gold;
}
.h11{
    width: 800px;
    height: 300px;
    backdrop-filter: blur(40px);
    margin: auto;
    transform: translateY(80px);
    border-top-left-radius: 60px;
    border-bottom-right-radius: 60px;
    opacity: 0;
    animation-name: span;
    animation-duration: 3s;
    animation-delay: 0.1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode:forwards;
}
.w2{
    color: red;
}
@keyframes span {
    100%{opacity: 1;}
    100%{width: 800px;}
}
.abc{
    position: fixed;
    width: 100px;
    top: 50px;
    left: 30px;
    z-index: 1000;
    background: transparent;
    border-radius: 8px;
    animation-name: abc;
    animation-duration: 3s;
}

@keyframes abc { 
    100%{transform:rotate(360deg);}
}