*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.js{
      height: 580px;
    width: 1280px;
    background-color: gray;
    background-image: url(b3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    text-align:left;
}
h1{
    text-align: center;
    font-size: 50px;
    padding-top: 20px;
    color: greenyellow;
    backdrop-filter: blur(20px);
    padding-bottom: 10px;
}
p{
    font-size: 30px;
    padding-top: 24px;
    margin: 15px;
    color: yellow;
    backdrop-filter: blur(40px);
    text-align: center;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 30px;
    padding: 20px 10px;
}
.icon{
    width: 300px;
    height: 60px;
    backdrop-filter: blur(40px);
    text-align: center;
    margin: auto;
    transform: translateY(470px);
    background: fixed;
}
a{
    text-decoration: none;
    font-size: 30px;
    padding: 10px;
    color: black;
    line-height: 1.4cm;
}
